html, body{
}

.flex-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
   align-items: center;
}

h2{
  text-align: center;
  color: blue;
}

.top-bar{
  height: 4vh;
  text-align: center;
  font-size: 4vh;
  height: auto;
  margin: 4vh;
}

#start-btn{
  font-size: 4vh;
}

#main-body{
  flex-direction: column;
}

#word-grid-container{
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  height: 55vh;

}
#word-grid-item{
  height: 2vh;
  width: 15vh;
  margin: 1.7vh;
}

#word-grid-label{
  width: 100%;
  text-align: left;
  padding-left: 3vh;
  font-size: 1.5em;
}

#checkbox-input{
  position: absolute;
  top: 50%;
  height: 100%;
  vertical-align: bottom;;

}



.glyphicon-refresh-animate{
  -animation: spin .7s infinite linear;
  -webkit-animation: spinWebkit .7s infinite linear;
}

@keyframes spin {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

@keyframes spinWebkit {
  from{-webkit-transform: rotate(0deg);}
  to{-webkit-transform: rotate(360deg);}
}
