html, body{

}

.flex-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
   align-items: center;
}

h2{
  text-align: center;
  color: blue;
}

#main-body{
  flex-direction: column;


}

#word-grid-container{
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  max-height: 35em;
}

#word-grid-item{
  height: 2em;
  width: 5em;
  margin: 1.7em;
}

#title{
}

#start-btn{
}

.glyphicon-refresh-animate{
  -animation: spin .7s infinite linear;
  -webkit-animation: spinWebkit .7s infinite linear;
}

@keyframes spin {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

@keyframes spinWebkit {
  from{-webkit-transform: rotate(0deg);}
  to{-webkit-transform: rotate(360deg);}
}
